# Managed by Ansible.
BROWSER_LLM_ENCRYPTION_KEY={{ browser_service_llm_encryption_key | to_json }}
BROWSER_API_TOKEN={{ browser_service_api_token | to_json }}
BROWSER_HOST={{ browser_service_listen_host | to_json }}
BROWSER_PORT={{ browser_service_port }}
BROWSER_MAX_BROWSERS={{ browser_service_max_browsers }}
BROWSER_SESSION_RETENTION_DAYS={{ browser_service_session_retention_days }}
BROWSER_BASE_PROFILE={{ browser_service_base_profile | to_json }}
BROWSER_STATE_DIR={{ browser_service_state_dir | to_json }}
BROWSER_IDLE_TIMEOUT_SECONDS={{ browser_service_idle_timeout_seconds }}
DEEPSEEK={{ browser_service_deepseek_api_key | to_json }}
OPENROUTER_API_KEY={{ browser_service_openrouter_api_key | to_json }}
BROWSER_CRAWL_PROXY1={{ browser_service_crawl_proxy1 | to_json }}
BROWSER_CRAWL_PROXY2={{ browser_service_crawl_proxy2 | to_json }}
BROWSER_CRAWL_PROXY3={{ browser_service_crawl_proxy3 | to_json }}
BRAVE_CLICKHOUSE_URL={{ browser_service_brave_clickhouse_url | to_json }}
BRAVE_CLICKHOUSE_USER={{ browser_service_brave_clickhouse_user | to_json }}
BRAVE_CLICKHOUSE_PASSWORD={{ browser_service_brave_clickhouse_password | to_json }}
LLM_CONTROL_PG_URL={{ browser_service_llm_control_pg_url | to_json }}
