# Managed by Ansible.
BROWSER_API_TOKEN={{ browser_service_api_token | to_json }}
BROWSER_HOST={{ browser_service_listen_host | to_json }}
BROWSER_PORT={{ browser_service_port }}
BROWSER_COUNT={{ browser_service_count }}
BROWSER_STATE_DIR={{ browser_service_state_dir | to_json }}
BROWSER_IDLE_TIMEOUT_SECONDS={{ browser_service_idle_timeout_seconds }}
BROWSER_MAX_PENDING={{ browser_service_max_pending }}
