# Managed by Ansible. Do not put credentials in the unit or command line.
DEEPSEEK={{ crawler_service_deepseek | to_json }}
OPENROUTER_API_KEY={{ crawler_service_openrouter | to_json }}
CRAWLER_LLM_ENCRYPTION_KEY={{ crawler_service_llm_encryption_key | to_json }}
CRAWL_API_TOKEN={{ crawler_service_api_token | to_json }}
CRAWL_HUMAN_ENABLED={{ crawler_service_human_enabled | ternary('true', 'false') }}
CRAWL_CHALLENGE_AGENT_ENABLED={{ crawler_service_challenge_agent_enabled | ternary('true', 'false') }}
CRAWL_CHALLENGE_AGENT_MAX_RUNS={{ crawler_service_challenge_agent_max_runs }}
CRAWL_MANUAL_CONCURRENCY={{ crawler_service_manual_concurrency }}
BROWSER_API_URL={{ crawler_service_browser_api_url | to_json }}
BROWSER_API_TOKEN={{ crawler_service_browser_api_token | to_json }}
CRAWL_S3_BUCKET={{ crawler_service_s3_bucket | to_json }}
CRAWL_S3_ENDPOINT_URL={{ crawler_service_s3_endpoint_url | to_json }}
CRAWL_S3_PREFIX={{ crawler_service_s3_prefix | to_json }}
AWS_REGION={{ crawler_service_s3_region | to_json }}
AWS_ACCESS_KEY_ID={{ crawler_service_s3_access_key | to_json }}
AWS_SECRET_ACCESS_KEY={{ crawler_service_s3_secret_key | to_json }}
AWS_SESSION_TOKEN={{ crawler_service_s3_session_token | to_json }}
