# Managed by Ansible. Do not put credentials in the unit or command line.
DEEPSEEK={{ company_research_deepseek | to_json }}
OPENROUTER_API_KEY={{ company_research_openrouter | to_json }}
CRAWL_API_TOKEN={{ company_research_api_token | to_json }}
NATS_URL={{ company_research_nats_url | to_json }}
