# Managed by Ansible. Do not put credentials in the unit or command line.
DEEPSEEK={{ company_research_deepseek | to_json }}
OPENROUTER_API_KEY={{ company_research_openrouter | to_json }}
CRAWL_API_TOKEN={{ company_research_api_token | to_json }}
CRAWL_HUMAN_ENABLED={{ company_research_human_enabled | ternary('true', 'false') }}
CRAWL_CHALLENGE_AGENT_ENABLED={{ company_research_challenge_agent_enabled | ternary('true', 'false') }}
CRAWL_CHALLENGE_AGENT_MAX_RUNS={{ company_research_challenge_agent_max_runs }}
CRAWL_MANUAL_CONCURRENCY={{ company_research_manual_concurrency }}
BROWSER_API_URL={{ company_research_browser_api_url | to_json }}
BROWSER_API_TOKEN={{ company_research_browser_api_token | to_json }}
CRAWL_S3_BUCKET={{ company_research_s3_bucket | to_json }}
CRAWL_S3_ENDPOINT_URL={{ company_research_s3_endpoint_url | to_json }}
CRAWL_S3_PREFIX={{ company_research_s3_prefix | to_json }}
AWS_REGION={{ company_research_s3_region | to_json }}
AWS_ACCESS_KEY_ID={{ company_research_s3_access_key | to_json }}
AWS_SECRET_ACCESS_KEY={{ company_research_s3_secret_key | to_json }}
AWS_SESSION_TOKEN={{ company_research_s3_session_token | to_json }}
