DAGSTER_HOME=/Users/graovic/pulsarpoint/ppoint/companycollect/corpscout/dagster_v3
DAGSTER_PG_URL=postgresql://USER:PASSWORD@HOST:5432/dagster_v3

TEMPORAL_ADDRESS=companycollect:7233
TRANSLATION_PROVIDER_LOCAL_BASE_URL=http://100.77.62.33:8888/v1
TRANSLATION_PROVIDER_LOCAL_MODEL=qwen3:6b
TRANSLATION_PROVIDER_LOCAL_API_KEY=not-needed
TRANSLATION_PROVIDER_MAX_TOKENS=2048
TRANSLATION_PROVIDER_EXTRA_BODY_JSON={"chat_template_kwargs":{"enable_thinking":false}}
# RUN_TRANSLATION_INTEGRATION_TESTS=1
