WEBTECH_API_TOKEN=
WEBTECH_S3_PATH=s3://webtech/webtech
WEBTECH_HEADLESS=true
WEBTECH_BROWSER_COUNT=20
WEBTECH_PAGES_PER_BROWSER=1
WEBTECH_DOMAIN_TIMEOUT_SECONDS=60
WEBTECH_DOMAINS_PER_CONTEXT=1
WEBTECH_CONTEXT_LAUNCH_INTERVAL_SECONDS=0.25
WEBTECH_PROGRESS_BATCH_SIZE=20
WEBTECH_MAX_CANDIDATES=1000000

CORPSCOUT_S3_ENDPOINT=
CORPSCOUT_S3_ACCESS_KEY=
CORPSCOUT_S3_SECRET_KEY=
CORPSCOUT_S3_REGION=us-east-1
