server:
    interface: 127.0.0.1
    port: 53
    access-control: 127.0.0.0/8 allow
    access-control: 0.0.0.0/0 refuse
    module-config: "iterator"
    num-threads: {{ unbound_num_threads }}
    so-reuseport: yes
    so-rcvbuf: {{ unbound_so_rcvbuf }}
    so-sndbuf: {{ unbound_so_sndbuf }}
    msg-cache-size: {{ unbound_msg_cache_size }}
    rrset-cache-size: {{ unbound_rrset_cache_size }}
    cache-min-ttl: 60
    cache-max-ttl: 86400
    prefetch: yes
    prefetch-key: yes
    outgoing-range: {{ unbound_outgoing_range }}
    num-queries-per-thread: 2048
    infra-cache-numhosts: 1000000
    qname-minimisation: yes
    extended-statistics: yes
remote-control:
    control-enable: yes
